@use 'functions' as *;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    // будет применяться на тех устройствах, где наведение возможно, на тач устройствах без стилуса этот эффект не будет применяться
    // предотвратить залипание ховер эффекта на тачскринах
    @media (any-hover: hover) {                
       &:hover {
        @content;
       }
    }

    @if($hasActiveEffectOnMobile) {  
        // а здесь при нажатии будет кратковременно срабатывать актив эффект
        @media(any-hover: none) {
            &:active {
                @content;
            }
            
        }
    }
}